* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a {
    cursor: pointer;
}
button, input, select {
    border: none;
}
body {
    font-family: "Roboto", sans-serif;
    color: rgb(33, 33, 33);
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
    
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.navbar {
    padding: 15px 0 ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 96%;
    width: 100%;
    position: relative;
}

.search {
    display: flex;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    position: absolute;
    left: 8%;
    padding-left: 10px;
    max-width: 600px;
    width: 100%;
    

}
.material-symbols-outlined {
    align-self: center;
    border: none;
}
.loop {
    background-color: rgb(246, 88, 88);
    color: white;
    min-height: 100%;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.search_input {
    padding-left: 10px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
    color: rgb(112, 112, 112)
}
.city {
    border-left: 1px solid rgb(217, 217, 217);
}
.search_input:focus, .language_name:focus, .selections > select {
    outline: none;
}
.authorization {
    display: flex;
    gap: 20px;
    position: absolute;
    font-size: 14px;
    right: 25px;
    max-width: 280px;
    width: 100%;

}
.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.login {
    background-color: white;
    border: none;
    max-width: 85px;
    width: 100%;
}
.singup {
    max-width: 85px;
    width: 100%;
}
.btn {
    border-radius: 8px;
    background-color: rgb(0, 121, 138);
    color: white;
    padding: 15px;
    font-size: 14px;
}

/* main */

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.main_container {
    max-width: 80vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.heading_events {
    font-size: 28px;
    margin-bottom: 15px;
}
.toEvents {
    display: block;
    font-size: 20px;
    color: rgb(0, 121, 138);
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
    margin-bottom: 20px;
}
.selections {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 50px;
}
.selections > select {
    flex: 1;
    border-radius: 40px;
    max-width: 145px;
    background: rgb(246, 247, 248);
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: rgb(33, 33, 33);
    font-size: 14px;
}
.eventsContainer {
    display: flex;
    gap: 15px;
    border-top: 1px solid rgb(217, 217, 217);
    max-width: 600px;
    width: 100%;
    min-height: 160px;
}
.textContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
    min-height: 160px;
    position: relative;

}
.picture {
    max-width: 160px;
    width: 100%;
    height: 90px;
    border-radius: 8px;
    margin-top: 15px;
}
.eventDate {
    color: rgb(124, 111, 80);
    font-size: 14px;
    font-weight: bold;
}
.title {
    font-size: 16px;
}
.category, .attendees {
    color: rgb(112, 112, 112);
    font-size: 14px;
}
.attendees {
    position: absolute;
    bottom: 15px;
}
.map_text {
    font-size: 12px;
}
.map_heading {
    font-size: 20px;
    margin-top: 5px;
}
.iframe {
    border-radius: 8px;
    margin-top: 12px;
}

@media all and (max-width: 500px) {
    /* main */
 
}

/* footer */


.footer {
    min-height: 560px;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_menu_one, .footer_menu_two, .followUs, .footer_menu_three {
   max-width: 80vw;
   width: 100%; 
   display: flex;
}

.footer_menu_one {
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.create {
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.started {
    max-width: 130px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid white;
    background-color: rgb(33, 33, 33);
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 50px;
}
.footer_menu_two {
    padding: 20px 0;
}
.footer_menu_two_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 375px;
    width: 100%;
}
.footer_heading {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer_link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.followUs {
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}
.social_media {
    display: flex;
    justify-content: space-between;
    
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.appStore {
    display: flex;
    gap: 20px;
}
.footer_menu_three {
    gap: 50px;
    margin-top: 30px;
}

@media all and (max-width: 1200px) {
    .search {
        left: 12%;
    } 
    .iframe {
        width: 250px;
        height: 180px
    }
}
@media all and (max-width: 1100px) {
    .search {
        top: 70px;
        left: 10px;
    }
    .footer_menu_three {
        gap: 10px;
    }
    .main_container {
        max-width: 90vw;
    }
    .eventsContainer {
        max-width: 500px;
    }

}
@media all and (max-width: 850px) {
    .map {
        display: none;
    }
}
@media all and (max-width: 500px) {
    .header {
        margin-bottom: 80px;
    }
    .navbar {
        max-width: 90vw;
        padding-top: 15px ;
        padding-right: 0;
    }
    .city{
        display: none;
    }
    .search {
        max-width: 320px;
        left: auto;
    }
    .authorization {
        right: 0;
        gap: 3px;
        max-width: 220px;
        
    }
    .login {
        max-width: 70px;
    }
    .singup {
        max-width: 70px;
    }
    .btn {
        padding: 10px;
        font-size: 12px;
    }
     /* main */
     .heading_events {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .main {
        margin-bottom: 50px;
    }
   .selections {
    flex-direction: column;
    margin-bottom: 30px;
   }
   .selections > select > option {
    font-size: 12px;
    
   }
    .eventsContainer {
        gap: 8px;
        min-height: 100px;
    }
    .textContainer {
        flex: 2;
        margin-top: 10px;
        min-height: 100px;
    }
    .picture {
        flex: 1;
        max-width: 100px;
        height: 55px;
        border-radius: 8px;
        margin-top: 10px;
    }
    .eventDate,.category, .title {
        font-size: 10px;
    }
    .attendees {
        display: none;
    }

    .appStore, .forDesktop {
        display: none;
    } 
    .footer_menu_one, .footer_menu_two, .followUs, .footer_menu_three {
        max-width: 90vw;
    }
    .footer_menu_one {
        justify-content: space-between;
    }
    .started {
        margin-left: 0;
        padding: 8px;
    }
 
}