* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button, a {
    cursor: pointer;
}
button, input, select {
    border: none;
}
input {
    font-family: "Roboto", sans-serif;
}
body {
    font-family: "Roboto", sans-serif;
    color: rgb(33, 33, 33);
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
    
}

/* header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.navbar {
    padding: 15px 0 ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 96%;
    width: 100%;
    position: relative;
}

.search {
    display: flex;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    position: absolute;
    left: 8%;
    padding-left: 10px;
    max-width: 600px;
    width: 100%;
    

}
.material-symbols-outlined {
    align-self: center;
    border: none;
}
.loop {
    background-color: rgb(246, 88, 88);
    color: white;
    min-height: 100%;
    padding: 10px;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

.search_input {
    padding-left: 10px;
    font-size: 16px;
    max-width: 300px;
    width: 100%;
    color: rgb(112, 112, 112)
}
.city {
    border-left: 1px solid rgb(217, 217, 217);
}
.search_input:focus, .language_name:focus, .select_city {
    outline: none;
}
.authorization {
    display: flex;
    gap: 20px;
    position: absolute;
    font-size: 14px;
    right: 25px;
    max-width: 280px;
    width: 100%;

}
.language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.language_name, .language_name > option,.login  {
    color: rgb(33, 33, 33);
    font-family: "Roboto", sans-serif;

}
.login {
    background-color: white;
    border: none;
    max-width: 85px;
    width: 100%;
}
.singup {
    max-width: 85px;
    width: 100%;
}
.btn {
    border-radius: 8px;
    background-color: rgb(0, 121, 138);
    color: white;
    padding: 15px;
    font-size: 14px;
}
.about {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    gap: 80px;
    max-width: 80vw;
    width: 100%;
    margin-top: 80px;
}
.description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 600px;
    width: 100%;
    
}
.heading {
    font-size: 42px;
    text-align: left;
}
.text_about {
    font-weight: 16px;
    line-height: 25px;
}
.toSecondPage {
    max-width: 125px;
    width: 100%;
}


/* main */

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_container {
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    width: 100%;
    
}
.eventsNear {
    display: flex;
    align-items: center;
    position: relative;
    gap: 20px;
    margin-bottom: 35px;
    
}
.heading_eventsNear {
    font-size: 28px;
}
.write_city {
    background-color: rgba(151, 202, 209, 0.12);
    border-radius: 8px;
    padding-right: 15px;
    max-width:  250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.select_city {
    background-color: rgba(151, 202, 209, 0.03);; 
    box-shadow: none;
    width: 80%;
    border-radius: 8px;
    padding: 10px;
}
.select_city::placeholder{
    color: rgb(0, 121, 138);
    font-size: 20px;
    font-weight: 400;
    
}
.see_all_events {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 121, 138);
    position: absolute;
    right: 0;
}
.events_container {
   display: flex;
   flex-direction: column;
   
   
}
.events_container_unit {
    display: flex;
    justify-content: space-between; 
    gap: 50px;
    margin-bottom: 80px; 
}
.container_for_event {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.all_about_event {
    max-width: 95%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.event_Photo {
    max-width: 270px;
    width: 100%;
    min-height: 153px;
}
.event_name {
    font-size: 20px;
    font-weight: bold;
}
.event_category {
    font-size: 14px;
    color:rgb(112, 112, 112);
}
.event_date, .event_info {
    display: flex;gap: 5px;
    font-size: 16px;
}
.date {
    font-size: 14px;
    text-transform: uppercase;
}
.going {
    margin-right: 20px;
    
}
.join_meetup {
    display: flex;
    align-items: center;
    padding: 20px 80px;
    gap: 80px;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    margin-bottom: 80px;
}
.meetup {
    display: flex;
    flex-direction: column;
    gap: 15px;

}
.meetup_heading {
    font-size: 28px;
}
.meetup_reg {
    max-width: 190px;
    width: 100%;
    border-radius: 8px;
    padding: 14px;
    color: white;
    background-color: rgb(227, 35, 89);
}
.logo_hands {
    max-width: 340px;
    width: 100%;
}

.container_categiries {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.categorie {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 16px;
    max-width: 135px;
    width: 100%;
    padding: 20px;
    background-color: rgba(151, 202, 209, 0.08);
    border-radius: 8px;

}
.icon_categorie {
    flex: 1;
    max-width: 19px;
}
.name_categorie {
    flex: 1;
    justify-self: flex-start;
    
}
.cities {
    flex-direction: column;
    align-items: flex-start;
    
}
.looking_city {
    color: rgb(112, 112, 112);
}
.container_popularCities {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.popular_city {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.city_image {
    max-width: 205px;
    width: 100%;
}
.small_heading {
    font-size: 20px;
}
.meetup_works {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.meetup_works_unit {
    display: flex;
    align-items: flex-start;
    background-color:rgba(151, 202, 209, 0.08);
    border-radius: 8px;
    padding: 30px;
    gap: 30px;
    max-width: 580px;
    width: 100%;
}
.meetup_works_info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
    width: 100%;
}
.small_heading {
}
.par {
}
.link_goto {
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 121, 138);
}

.container_friendships {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.friendships {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 376px;
    width: 100%;
}
.images_onMeetup {
    width: 100%;
}

.par_onMeetup {
    font-size: 16px;
    line-height: 24px;
    color: rgb(112, 112, 112);
}

@media all and (max-width: 1200px) {

}
@media all and (max-width: 1100px) {

}
@media all and (max-width: 500px) {
    .heading_eventsNear, .meetup_heading {
        font-size: 20px;
    }
    .eventsNear, .meetup_reg {
        margin-bottom: 15px;
    }
    .see_all_events, .unit_desktop {
        display: none;
    }
    .select_city::placeholder {
        font-size: 14px;
    }
    .write_city {
        max-width: 190px;
    }
    .events_container_unit, .container_friendships, .meetup_works {
        flex-direction: column;
    }
    .join_meetup {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }
    .meetup {
        align-items: center;
    }
    .meetup_heading {
        align-self: flex-start;

    }
    .logo_hands {
        max-width: 240px;
        order: -1;

    }

    .container_categiries {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .city_image {
        max-width: 155px;
    }
    .container_popularCities {
        flex-wrap: wrap;
        gap: 15px;
    }
    .meetup_works, .meetup_works_info {
        gap: 10px;
    }
    .meetup_works_unit {
        gap: 15px;
    }
    .container_for_event {
        flex-direction: row;
        align-items: flex-start;
        border-top: 1px solid  rgb(217, 217, 217);
        padding-top: 10px;
    }
    .event_Photo {
        max-width: 98px;
        min-height: 55px;
    }
    .all_about_event {
       max-width: auto;
        
    }
    .friendships {
        margin-bottom: 40px;
    }
    .small_heading {
        font-size: 16px;
    }
    .par_onMeetup, .link_goto,.looking_city {
    
        font-size: 12px;
    }
    .par, .event_name, .event_category,.date,.going, .free {
        font-size: 10px;
    }
    .icon_mobi {
        max-width: 25px;
        width: 100%;
    }
    .icon_small {
        max-width: 14px;
        width: 100%;
    }
    .all_about_event {
        gap: 5px;
    }
   
    
}

/* footer */


.footer {
    min-height: 560px;
    background-color: rgb(33, 33, 33);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_menu_one, .footer_menu_two, .followUs, .footer_menu_three {
   max-width: 80vw;
   width: 100%; 
   display: flex;
}

.footer_menu_one {
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.create {
    font-size: 16px;
    font-weight: 600;
    color: white;
}
.started {
    max-width: 130px;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 3px solid white;
    background-color: rgb(33, 33, 33);
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 50px;
}
.footer_menu_two {
    padding: 20px 0;
}
.footer_menu_two_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 375px;
    width: 100%;
}
.footer_heading {
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer_link {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.followUs {
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;
}
.social_media {
    display: flex;
    justify-content: space-between;
    
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.appStore {
    display: flex;
    gap: 20px;
}
.footer_menu_three {
    gap: 50px;
    margin-top: 30px;
}






@media all and (max-width: 1200px) {
    .search {
        left: 12%;
    }
    .logo_bike{
        width: 350px;
        height: 240px;
        align-self: center;
    }
    
}
@media all and (max-width: 1100px) {
    .search {
        top: 70px;
        left: 10px;
    }
    .heading {
        font-size: 35px;
    }
    .logo_bike {
        width: 280px;
        height: 170px;
        
    }
    .footer_menu_three {
        gap: 10px;
    }

}
@media all and (max-width: 500px) {
    .header {
        margin-bottom: 25px;
    }
    .navbar {
        max-width: 90vw;
        padding-top: 15px ;
        padding-right: 0;
    }
    .city{
        display: none;
    }
    .search {
        max-width: 320px;
        left: auto;
    }
    .authorization {
        right: 0;
        gap: 3px;
        max-width: 220px;
        
    }
    .login {
        max-width: 70px;
    }
    .singup {
        max-width: 70px;
    }
    .btn {
        padding: 10px;
        font-size: 12px;
    }
    
  
    .about {
        max-width: 90vw;
        flex-direction: column;
        gap: 10px;
    }
    .description{
        gap: 18px;
    }
    .heading {
        font-size: 25px;
    }
    .text_about {
        font-size: 12px;
    }
    .logo_bike {
        width: 215px;
        height: 150px;
    }
    .appStore, .forDesktop {
        display: none;
    } 
    .footer_menu_one, .footer_menu_two, .followUs, .footer_menu_three, .main_container {
        max-width: 90vw;
    }
    .footer_menu_one {
        justify-content: space-between;
    }
    .started {
        margin-left: 0;
        padding: 8px;
    }

    
}



    
    
   
    
    